<!-- wp:heading {"level":1,"align":"wide"} -->
<h1 class="alignwide">{{ heading }}</h1>
<!-- /wp:heading -->

<!-- wp:group {"align":"wide","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide">
	<!-- wp:paragraph -->
	<p>{{ message }}</p>
	<!-- /wp:paragraph -->

	<!-- wp:search {"label":"{{ search_label }}","placeholder":"{{ search_placeholder }}","showLabel":false,"width":100,"widthUnit":"%","buttonText":"{{ search_label }}","buttonUseIcon":true,"align":"center"} /-->
</div>
<!-- /wp:group -->
